Repository datamweb/shield-oauth, pull requests merged in 2024-05, with the labels that each got.

#111 fix: [BUG] Undefined property: stdClass::$family_name
  src/Libraries/GoogleOAuth.php
Labels: bug

#112 feat: add 'allow_register' to $oauthConfigs for drivers
  docs/add_other_oauth.md
  phpstan-baseline.php
  src/Commands/Generators/NewShieldOauthGenerator.php
  src/Config/ShieldOAuthConfig.php
  src/Controllers/OAuthController.php
  src/Language/en/ShieldOAuthLang.php
  src/Language/fa/ShieldOAuthLang.php
  src/Language/fr/ShieldOAuthLang.php
Labels: enhancement

#115 lang: [id] Added support language Indonesian
  src/Language/id/ShieldOAuthLang.php
Labels: lang

#116 chore: add no merge commites check
  .github/workflows/no-merge-commits.yml
Labels: Github Action
